# node / npm / yarn
node_modules/
yarn-error.log
npm-debug.log

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tf.plan
.shastore

# Build
build/
dist/

# eslint
.eslintcache

*.DS_Store
